.formThemEmail{
    max-width: 400px;
    background: white;
    border-radius: 4px;
    padding: 40px;
    margin: 0px auto;
}
.modalForm{
    position: fixed;
    padding: 40px;
    background-color: #0000008f;
    min-height: 100%;
    width: 100%;
    top: 80px;
}